h1{
    justify-content: center;
    display: flex;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 100;
    font-size: 40px;
    padding-top: 3%;
}

h2{
    justify-content: center;
    display: flex;
    padding-left: 42%;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 100;
    font-size: 20px;
    color: white;
}



#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1% 0%;
    background-color: rgba(152, 180, 212);
    box-shadow: 0% 1% 2% rgba(0, 0, 0, 0.06);
    z-index: 999%;
    position: sticky;
    top: 100%;
    left: 0%;
}



#vergelijk{
    margin-left: 37%;
    margin-top: 4%;
}













footer{
    background-color: rgb(105, 144, 188) ;
    display: flex;
    justify-items: center;
    justify-content: center;
    color: white;
    margin-top: 29%;
}